%meta{ charset: 'utf-8' }/

%meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }/

%meta{ name: 'abstract',    content: current_page.data.meta_tags.andand.abstract || data.site.andand.meta_tags.andand.abstract }/
%meta{ name: 'author',      content: current_page.data.meta_tags.andand.author || data.site.andand.meta_tags.andand.author }/
%meta{ name: 'copyright',   content: copyright(current_page.data.copyright.andand.owner || data.site.andand.copyright.andand.owner) }/
%meta{ name: 'description', content: current_page.data.meta_tags.andand.description || data.site.andand.meta_tags.andand.description }/
%meta{ name: 'generator',   content: data.site.andand.meta_tags.andand.generator }/
%meta{ name: 'keywords',    content: current_page.data.meta_tags.andand.keywords || data.site.andand.meta_tags.andand.keywords }/
%meta{ name: 'publisher',   content: data.site.andand.meta_tags.andand.publisher }/
%meta{ name: 'viewport',    content: data.site.andand.meta_tags.andand.viewport }/