%meta{ charset: 'utf-8' }/

%meta{ 'http-equiv' => 'x-ua-compatible', content: 'IE=edge' }/

%meta{ name: 'abstract', content: current_page.data.metatags.andand.abstract || data.site.andand.metatags.andand.abstract }/
%meta{ name: 'author', content: current_page.data.metatags.andand.author || data.site.andand.metatags.andand.author }/
%meta{ name: 'copyright', content: copyright(current_page.data.metatags.andand.copyright_owner || data.site.andand.metatags.copyright_owner) }/
%meta{ name: 'description', content: current_page.data.metatags.andand.description || data.site.andand.metatags.andand.description }/
%meta{ name: 'generator', content: 'Middleman: Hand-crafted frontend development (http://middlemanapp.com)' }/
%meta{ name: 'keywords', content: current_page.data.metatags.andand.keywords || data.site.andand.metatags.andand.keywords }/
%meta{ name: 'publisher', content: data.site.andand.metatags.andand.publisher }/
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/
%meta{ name: 'web_author', content: data.site.andand.metatags.andand.web_author }/