---
id: "dummy"
class: "default"
title: "Dummy"
---

- content_for :content do
  :markdown
    Dummy
    =====

    What Next?
    ----------

    1. Give it an awesome name
    2. Create something awesome

- content_for :javascripts do
  = javascript_include_tag 'bundle'