---
layout: "Dummy"
id: "dummy"
class: "default"
title: "Dummy"
---

- content_for :content do
  :markdown
    Dummy
    =====

    ![Dummy]

    [Dummy]: #{image_path('samples/dummy.jpg')} "Dummy"

- content_for :javascripts do
  = javascript_include_tag 'bundle'